body{
  font-family: 'Roboto', sans-serif;
}

.text-center{ text-align: center }

header{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.image-container{
  display: inline-flex;
  background: black;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 1px solid #57607c;
}

.draggable{
  width: 1px;
  height: 1px;
}

.draggable::after{
  display: block;
  position: relative;
  width: 31px;
  height: 31px;
  top: -15px;
  left: -15px;
  content: '';
  background-image: url('../img/aim.png');
}

span.description{
  position: absolute;
  top: -15px;
  left: 10px;
  color: red;
  text-transform: lowercase;
  display: none;
}

.draggable:hover span.description {display: inline;}

footer {text-align: center}

.center{
  display: block;
  margin: auto;
  text-align: center;
}

.go-button{
  height: initial;
  line-height: initial;
  padding: 14px 32px;
  font-size: 12pt;
  margin: 10px 5px;
  background-color: #26A69A;
}

.siimple-input{
  margin-bottom: 10px
}